/** ensure our userpassword has select is next to the password input */
attribute#userPassword .select2-container--bootstrap-5 .select2-selection {
	font-size: inherit;
	width: 9em;
	border: var(--bs-gray-500) 1px solid;
	background-color: #f0f0f0;
}

.input-group:first-child .select2-container--bootstrap-5 .select2-selection {
	border-bottom-right-radius: unset;
	border-top-right-radius: unset;
}

attribute#objectClass .input-group-end:not(input.form-control) {
	position: absolute;
	right: 1em;
	top: 0.5em;
	z-index: 5;
}

input.form-control.input-group-end {
	border-bottom-right-radius: 4px !important;
	border-top-right-radius: 4px !important;
}

.custom-tooltip-warning {
	--bs-tooltip-bg: var(--bs-warning);
	--bs-tooltip-color: black;
}

.custom-tooltip-danger {
	--bs-tooltip-bg: var(--bs-danger);
}

.custom-tooltip {
	--bs-tooltip-bg: var(--bs-gray-900);
}

.tooltip {
	font-size: 85%;
}

/*
.custom-tooltip-warning .tooltip-inner {
	--bs-tooltip-bg: #ffffff;
	--bs-tooltip-color: var(--bs-warning);
	--bs-font-size: 85%;
	border: 2px solid var(--bs-warning);
	border-radius: 6px;
}

.custom-tooltip-warning .tooltip-arrow::before {
	--bs-tooltip-bg: var(--bs-warning);
}

.custom-tooltip-danger .tooltip-inner {
	--bs-tooltip-bg: #ffffff;
	--bs-tooltip-color: var(--bs-danger);
	--bs-font-size: 85%;
	border: 2px solid var(--bs-danger);
	border-radius: 6px;
}

.custom-tooltip-danger .tooltip-arrow::before {
	--bs-tooltip-bg: var(--bs-danger);
}
*/

/* hide the site icons when the search is opened */
.search-wrapper.active + .header-menu.nav {
	display: none;
}