/* ensure our password type select box shrinks and has the full boarder */
attribute#userpassword .input-group > .form-select  {
	flex-grow: 0;
	width: 9em;
	border: var(--bs-gray-500) 1px solid;
	z-index: 2;
}

attribute#userpassword .input-group .select2-container--bootstrap-5 {
	flex-grow: 0;
	margin-bottom: 0.25em !important;
}

attribute#userpassword .input-group > .select2-container--bootstrap-5 .select2-selection {
	background-color: #eef2f4;
}

attribute .input-group > .btn-group {
	input:checked + label {
		color: var(--bs-btn-active-color);
	}

	label:not(.btn-outline-success) {
		color: var(--bs-body-color);
	}

	label {
		border-color: var(--bs-border-color);
		width: 2em;
		padding: 0.25em 0.5em;
	}
}

/* render the structural inside the input box */
attribute .input-group-end:not(input.form-control) {
	position: absolute;
	right: 1em;
	top: 0.5em;
	z-index: 5;
}

input.form-control:has(+ .input-group-end) {
	border-bottom-right-radius: 4px !important;
	border-top-right-radius: 4px !important;
}

.custom-tooltip-success {
	--bs-tooltip-bg: var(--bs-success);
}

.custom-tooltip-warning {
	--bs-tooltip-bg: var(--bs-warning);
	--bs-tooltip-color: black;
}

.custom-tooltip-danger {
	--bs-tooltip-bg: var(--bs-danger);
}

.custom-tooltip {
	--bs-tooltip-bg: var(--bs-gray-900);
}

.tooltip {
	font-size: 85%;
}

/* enable mouseover but disable checking a input/label checkbox combo */
label.readonly-checkbox:active {
	pointer-events: none !important;
	opacity: 0.9; /* Optional: visually indicate it is disabled */
}

/*
.custom-tooltip-warning .tooltip-inner {
	--bs-tooltip-bg: #ffffff;
	--bs-tooltip-color: var(--bs-warning);
	--bs-font-size: 85%;
	border: 2px solid var(--bs-warning);
	border-radius: 6px;
}

.custom-tooltip-warning .tooltip-arrow::before {
	--bs-tooltip-bg: var(--bs-warning);
}

.custom-tooltip-danger .tooltip-inner {
	--bs-tooltip-bg: #ffffff;
	--bs-tooltip-color: var(--bs-danger);
	--bs-font-size: 85%;
	border: 2px solid var(--bs-danger);
	border-radius: 6px;
}

.custom-tooltip-danger .tooltip-arrow::before {
	--bs-tooltip-bg: var(--bs-danger);
}
*/

/* hide the site icons when the search is opened */
.search-wrapper.active + .header-menu.nav {
	display: none;
}

.page-title-wrapper .page-title-items {
	margin-left: auto;
	max-width: 50%;
}

.page-title-wrapper .page-title-items .page-title-status .alert {
	font-size: 0.80em;
}

/* Square UL items */
ul.square {
	list-style-type: square;
}

/* Fix select2 selections when set up with d-none */
select[class*="d-none"] + span.select2 {
	display: none;
}

/* Member Modal */
div.modal .modal-body {
	.member-box {
		float: left;
		width: 45%;
		label {
			font-weight: bold;
			padding-bottom: 5px;
		}
		select {
			height: 25em;
			padding: 0;
			option {
				padding: 4px 10px 4px 10px;
			}
			option:hover {
				background: var(--bs-light);
			}
		}
	 }

	.select-arrows {
		float: left;
		width: 10%;
		padding-top: 5em;
		input {
			width: 70%;
			margin-bottom: 5px;
		}
	}
}

/* Sidebar resize */
aside .draghandle {
	position: absolute;
	z-index: 100;
	width: 8px;
	top: 0;
	bottom: 0;
	right: 0;
	cursor: col-resize;
	float: right;
}