/* Fixes for data tables */
.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0em 0em;
	margin-left: 0px;
	border: 0px solid;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	border: 0px solid;
	background: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	box-shadow: 0 0 0px #fff;
	background-color: #fff;
}

table.dataTable thead .sorting_asc {
	background-image: none !important;
}

table.dataTable thead .sorting_desc {
	background-image: none !important;
}

table.dataTable thead .sorting {
	background-image: none !important;
}

/* Remove blue border from chrome on buttons */
/* Remove outline for non-keyboard :focus */
*:focus:not(.focus-visible) {
	outline: none !important;
	box-shadow: none !important;
}

/* Optional: Customize .focus-visible */
.focus-visible {
	outline-color: lightgreen;
}

*:disabled {
	cursor: not-allowed;
}

#favourite.selected {
	color: orange;
}

#favourite:hover {
	cursor: pointer;
}

.card-header h3.card-title {
	font-size: 1.0rem;
}

body {
	font-size: 0.85em;
}

/** Remove the border around the tree **/
ul.fancytree-container {
	border: 0px;
}
/** Remove the Cyan vertical line from the tree **/
.vertical-nav-menu #tree ul:before {
	opacity: 0;
}
/** Tree Icon Placement **/
#tree > ul {
	padding-left: 0px;
}
.closed-sidebar #tree {
	display: none;
}
.closed-sidebar:hover .app-sidebar:hover #tree, .sidebar-mobile-open #tree {
	display: block;
}
.app-sidebar #treeicon, .closed-sidebar:hover .app-sidebar:hover #treeicon, .sidebar-mobile-open #treeicon {
	display: none;
}
.closed-sidebar .app-sidebar #treeicon :not(.sidebar-mobile-open) {
	display: initial;
	position: relative;
}
/** Server icons **/
.closed-sidebar .server-icon {
	display: none;
}
.closed-sidebar .app-sidebar:hover .server-icon, .sidebar-mobile-open .server-icon {
	display: flex;
}
/** Fix position of tree expander and checkbox */
span.fancytree-checkbox, span.fancytree-custom-icon, span.fancytree-expander, span.fancytree-icon {
	margin-top: 4px;
}
ul.fancytree-container ul {
	padding: 0 0 0 20px;
}
/** Fix elipse icon (top right) on small display */
.closed-sidebar .app-header.header-text-light .app-header__menu .mobile-toggle-header-nav {
	background: #343a40;
}
/** Fix tree rendering **/
.fancytree-node {
	line-height: 1.75em;
}
/** Dont render when hoving on the tree **/
.vertical-nav-menu li a.no-hover:hover {
	background: #ffffff;
}
