/* Fixes for data tables */
.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0em 0em;
	margin-left: 0px;
	border: 0px solid;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	border: 0px solid;
	background: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	box-shadow: 0 0 0px #fff;
	background-color: #fff;
}

table.dataTable thead .sorting_asc {
	background-image: none !important;
}

table.dataTable thead .sorting_desc {
	background-image: none !important;
}

table.dataTable thead .sorting {
	background-image: none !important;
}

/* Remove blue border from chrome on buttons */
/* Remove outline for non-keyboard :focus */
*:focus:not(.focus-visible) {
	outline: none !important;
	box-shadow: none !important;
}

/* Optional: Customize .focus-visible */
.focus-visible {
	outline-color: lightgreen;
}

*:disabled {
	cursor: not-allowed;
}

#favourite.selected {
	color: orange;
}

#favourite:hover {
	cursor: pointer;
}

.card-header h3.card-title {
	font-size: 1.0rem;
}

body {
	font-size: 0.85em;
}