/* $Header$ */

/* Global Page */
table.page {
	font-weight: normal;
	color: #000000;

	font-family: "bitstream vera sans","luxi sans",verdana,geneva,arial,helvetica,sans-serif;
	background-color: #FFFFFF;
	font-size: 13px;
	empty-cells: hide;
}

/* Global Page - Defaults */
/* A HREF Links */
table.page a {
	color: #0000AA;
	text-decoration: none;
}

table.page a:hover {
	text-decoration: none;
}

table.page a img {
	border: 0px;
}

/* Global Page - Logo & Title */
table.page tr.head {
	text-align: center;
	color: #FFFFFF;
	background-color: #001188;
	font-weight: bold;
	font-size: 11px;
	height: 25px;
}

table.page tr.head img.logo {
	vertical-align: middle;
	text-align: center;

	width: 100px;
	height: 60px;
}

table.page tr.pagehead {
}

table.page tr.pagehead td.imagetop {
	width: 100%;
	vertical-align: bottom;
	text-align: right;
}

/* Global Page - Control Line */
table.page tr.control td {
	border-top: 1px solid #AAAACC;
	border-bottom: 1px solid #AAAACC;
}

/* Global Page - Control Line Menu Items */
table.page table.control {
	table-layout: fixed;
	width: 100%;
}

table.page table.control td {
	border-top: 0px;
	border-bottom: 0px;
	padding: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
}

table.page table.control img {
	width: 24px;
	height: 24px;
}

table.page table.control a {
	color: #000000;
}

table.page table.control a:hover {
	text-decoration: none;
	background-color: #FFFFFF;
	color: #0000AA;
}

table.page table.control td.spacer {
	width: 20%;
}

table.page table.control td.logo {
	text-align: right;
	width: 10%;
}

table.page table.control td.logo img.logo {
	vertical-align: middle;
	text-align: right;

	width: 100px;
	height: 50px;
}

/* Global Page - LDAP Tree */
table.page td.tree {
	border-right: 1px solid #AAAACC;
	vertical-align: top;
	background-color: #FCFCFE;
	width: 10%;
}

/* Global Page - Main Body */
table.page td.body {
	vertical-align: top;
	width: 100%;
	background-color: #FCFCFE;
}

/* Global Page - Main Body System Message */
table.page table.sysmsg {
	border-bottom: 2px solid #AAAACC;
	width: 100%;
}

table.page table.sysmsg td.head {
	font-size: small;
	text-align: left;
	font-weight: bold;
}

table.page table.sysmsg td.body {
	font-weight: normal;
}

table.page table.sysmsg td.icon {
	text-align: center;
	vertical-align: top;
}

/* Global Page - Main Body */
table.page table.body {
	font-weight: normal;
	background-color: #FCFCFE;
	width: 100%;
}

table.page table.body h3.title {
	text-align: center;
	margin: 0px;
	padding: 10px;
	color: #FFFFFF;
	background-color: #000088;
	border: 1px solid #000000;
	font-weight: normal;
	font-size: 150%;
}

table.page table.body h3.subtitle {
	text-align: center;
	margin: 0px;
	margin-bottom: 15px;
	font-size: 75%;
	color: #FFFFFF;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	background: #000088;
	padding: 4px;
	font-weight: normal;
}

table.page table.body td.spacer {
	border-top: 2px solid #AAAACC;
	padding: 0px;
	font-size: 5px;
}

table.page table.body td.head {
	font-weight: bold;
}

table.page table.body td.foot {
	font-size: small;
	border-top: 1px solid #AAAACC;
	border-bottom: 1px solid #AAAACC;
}

/* Global Page Footer */
table.page tr.foot td {
	border-top: 1px solid #AAAACC;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
}

/* Global Page - Other Layouts */
/* Server Select */
table.page table.server_select {
	font-weight: bold;
	font-size: 13px;
	color: #000000;
}

/* Individual table layouts */
/* LDAP Tree */
table.tree {
}

table.tree tr.server td.icon {
	vertical-align: top;
}

table.tree tr.server td.name {
	padding-right: 10px;
	vertical-align: top;
}

table.tree tr.server td {
	padding-top: 5px;
	font-size: 18px;
	text-align: left;
	padding-right: 0px;
	white-space: nowrap;
}

table.tree td {
	white-space: nowrap;
}

table.tree td.server_links {
	vertical-align: top;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
	padding-right: 3px;
}

table.tree td.server_links img {
	height: 22px;
	width: 22px;
}

table.tree td.server_links a {
	color: #000000;
	text-decoration: none;
	font-size: 11px;
}

table.tree td.server_links a:hover {
	text-decoration: none;
	background-color: #FFFFFF;
	color: #000000;
}

table.tree tr.option td.expander {
	text-align: center;
	width: 22px;
	max-width: 22px;
	min-width: 22px;
	white-space: nowrap;
}

table.tree tr.option td.icon {
	text-align: center;
	width: 22px;
	max-width: 22px;
	min-width: 22px;
	white-space: nowrap;
}

table.tree td.rdn a {
	font-size: 13px;
	color: #000000;
}

table.tree td.rdn a:hover {
	font-size: 13px;
	color: #841212;
	background-color: #FFF0C0;
	text-decoration: none;
}

table.tree td.rdn span.count {
	font-size: 13px;
	color: #000000;
}

table.tree td.links a {
	color: #0000AA;
	text-align: center;
}

table.tree td.link a {
	font-size: 13px;
	color: #000000;
}

table.tree td.link a:hover {
	font-size: 13px;
	color: #841212;
	background-color: #FFF0C0;
	text-decoration: none;
}

table.tree td.links a:hover {
	text-decoration: none;
	color: blue;
}

table.tree td.links a img {
	width: 22px;
	height: 22px;
}

table.tree td.blank {
	font-size: 1px;
}

table.tree td.spacer {
	width: 22px;
}

table.tree td.logged_in {
	font-size: 10px;
	white-space: nowrap;
}

table.tree td.logged_in a {
	font-size: 11px;
}

table.tree td.logged_in a:hover {
	color: #841212;
	background-color: #FFF0C0;
	text-decoration: none;
}

/* Tree Global Defaults */
table.tree tr td {
	padding: 0px;
}

table.tree a {
	text-decoration: none;
	color: #000000;
}

table.tree a:hover {
	text-decoration: underline;
	color: blue;
}

table.tree span.dnicon img {
	width: 16px;
	padding-bottom: 0px;
}

/* Tree */
table.tree .treemenudiv {
	display: block;
	white-space: nowrap;
	padding-top: 1px;
	padding-bottom: 1px;
}

table.tree .phplmnormal {
	font-family: bitstream vera sans, luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}

table.tree a.phplmnormal:hover {
	font-family: bitstream vera sans, luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background-color: #fff0c0;
	text-decoration: none;
}

table.tree a.phplm:link {
	font-family: bitstream vera sans, luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}

table.tree a.phplm:visited {
	font-family: bitstream vera sans, luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}

table.tree a.phplm:hover {
	font-family: bitstream vera sans, luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #841212;
	background-color: #fff0c0;
	text-decoration: none;
}

table.tree a.phplm:active {
	font-family: bitstream vera sans, luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #ff0000;
	text-decoration: none;
}

table.tree a.phplmselected:link {
	font-family: bitstream vera sans, luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #dd0000;
	background-color: #ffdd76;
	text-decoration: none;
}

table.tree a.phplmselected:visited {
	font-family: bitstream vera sans, luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #dd0000;
	background-color: #ffdd76;
	text-decoration: none;
}

table.tree a.phplmselected:hover {
	font-family: bitstream vera sans, luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #841212;
	background-color: #fff0c0;
	text-decoration: none;
}

table.tree a.phplmselected:active {
	font-family: bitstream vera sans, luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #ff0000;
	text-decoration: none;
}

/* Standard Form */
table.forminput {
	background-color: #F9F9FA;
	padding: 10px;
	border: 1px solid #AAAACC;
}

table.forminput td.title {
	text-align: center;
	font-weight: bold;
}

table.forminput td.subtitle {
	text-align: center;
	font-weight: normal;
	font-size: small;
}

table.forminput tr td.heading {
	font-weight: bold;
}

table.forminput td.small {
	font-size: 80%;
}

table.forminput td.top {
	vertical-align: top;
}

table.forminput input.val {
	width: 350px;
	border: 1px solid #AAAACC;
}

table.forminput input.roval {
	width: 350px;
	border: none;
}

table.forminput td.icon {
	width: 16px;
	text-align: center;
}

table.forminput td.icon img {
	border: 0px;
}

table.forminput td.label {
	text-align: left;
	font-size: 13px;
}

/* Menu on top of entry form */
table.menu {
	font-size: 14px;
}

table.menu td.icon {
	width: 16px;
	text-align: center;
}

/* Edit DN */
div.add_value {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

/* Edit Entry */
table.entry {
	border-collapse: collapse;
	border-spacing: 0px;
	empty-cells: show;
}

table.entry input {
	margin: 1px;
}

table.entry input.value {
	color: #000000;
	font-size: 14px;
	width: 350px;
	background-color: #FFFFFF;
}

table.entry div.helper {
	text-align: left;
	white-space: nowrap;
	background-color: #FFFFFF;
	color: #888;
	font-size: 14px;
	font-weight: normal;
}

table.entry input.roval {
	font-size: 14px;
	width: 350px;
	background-color: #FFFFFF;
	color: #000000;
	border: none;
}

table.entry textarea.value {
	font-size: 14px;
	width: 350px;
	background-color: #FFFFFF;
	color: #000000;
}

table.entry textarea.roval {
	font-size: 14px;
	width: 350px;
	background-color: #FFFFFF;
	color: #000000;
	border: none;
}

table.entry tr td {
	padding: 4px;
	padding-right: 0px;
}

table.entry tr td.heading {
	border-top: 3px solid #C0C0C0;
	font-weight: bold;
}

table.entry tr td.note {
	text-align: right;
	background-color: #E0E0E0;
}

table.entry tr td.title {
	background-color: #E0E0E0;
	vertical-align: top;
	font-weight: bold;
}

table.entry tr td.title a {
	text-decoration: none;
	color: #000000;
}

table.entry tr td.title a:hover {
	text-decoration: underline;
	color: #016;
}

table.entry tr td.value {
	text-align: left;
	vertical-align: middle;
	padding-bottom: 10px;
	padding-left: 50px;
}

/** When an attr is updated, it is highlighted to indicate such */
table.entry tr.updated td.title {
	border-top: 1px dashed #AAAA88;
	border-left: 1px dashed #AAAA88;
	background-color: #999988;
}

table.entry tr.updated td.note {
	border-top: 1px dashed #AAAA88;
	border-right: 1px dashed #AAAA88;
	background-color: #999988;
}

/** An extra row that sits at the bottom of recently modified attrs to encase them in dashes */
table.entry tr.updated td.bottom {
	border-top: 1px dashed #AAAA88;
}

/** Formatting for the value cell when it is the attribute that has been recently modified */
table.entry tr.updated td.value {
	border-left: 1px dashed #AAAA88;
	border-right: 1px dashed #AAAA88;
}

/* Need to prevent sub-tables (like the one in which jpegPhotos are displayed)
 * from drawing borders as well. */
table.entry tr.updated td table td {
	border: 0px;
}

table.entry tr.noinput {
	background: #E0E0E0;
}

span.hint {
	font-size: small;
	font-weight: normal;
	color: #888;
}

/* Login Box */
#login {
	background: url('../../images/default/ldap-uid.png') no-repeat 0 1px;
	background-color: #FAFAFF;
	color: #000000;
	padding-left: 17px;
}

#login:focus {
	background-color: #F0F0FF;
	color: #000000;
}

#login:disabled {
	background-color: #DDDDFF;
	color: #000000;
}

#password {
	background: url('../../images/default/key.png') no-repeat 0 1px;
	background-color: #FAFAFF;
	color: #000000;
	padding-left: 17px;
}

#password:focus {
	background-color: #F0F0FF;
	color: #000000;
}

#password:disabled {
	background-color: #DDDDFF;
	color: #000000;
}

#generic {
	background-color: #FAFAFF;
	color: #000000;
	padding-left: 17px;
}
#generic:focus {
	background-color: #F0F0FF;
	color: #000000;
}

#generic:disabled {
	background-color: #DDDDFF;
	color: #000000;
}

/* After input results */
div.execution_time {
	font-size: 75%;
	font-weight: normal;
	text-align: left;
}

table.result {
	width: 100%;
	vertical-align: top;
	empty-cells: show;
	border: 1px solid #AAAACC;
	border-spacing: 0px;
	background-color: #F2F2FF;
}

table.result tr.heading {
	vertical-align: top;
}

table.result tr.list_title {
	background-color: #FFFFFF;
}

table.result tr.list_title td.icon {
	text-align: center;
	vertical-align: top;
}

table.result tr.list_item {
	background-color: #FFFFFF;
}

table.result tr.list_item td.blank {
	width: 25px;
}

table.result tr.list_item td.heading {
	vertical-align: top;
	color: gray;
	width: 10%;
	font-size: 12px;
}

table.result tr.list_item td.value {
	color: #000000;
	font-size: 12px;
}

table.result_box {
	border: 1px solid #AAAACC;
	border-collapse: collapse;
	empty-cells: show;
}

table.result_table {
	border: 1px solid #AAAACC;
	border-collapse: collapse;
	empty-cells: show;
}

table.result_table td {
	font-size: 12px;
	vertical-align: top;
	border: 1px solid #AAAACC;
	padding: 4px;
}

table.result_table th {
	border: 1px solid #AAAACC;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

table.result_table tr.highlight {
	background-color: #EEEBBB;
}

table.result_table tr.highlight td {
	border: 1px solid #AAAACC;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

table.result_table td.heading {
	color: #FFFFFF;
	background-color: #000088;
	font-size: 12px;
}

table.result_table td.value {
	color: #000000;
	background-color: #E0E0E0;
}

table.result_table tr.heading {
	color: #FFFFFF;
	background-color: #000088;
	font-size: 12px;
	font-weight: bold;
}

table.result_table tr.heading a {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}

table.result_table tr.heading td {
	border: 1px solid #AAAACC;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

table.result_table tr.even {
	background-color: #E0E0E0;
}

table.result_table tr.even td {
	border: 1px solid #AAAACC;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

table.result_table tr.even td.title {
	font-weight: bold;
}

table.result_table tr.odd {
	background-color: #F0F0F0;
}

table.result_table tr.odd td {
	border: 1px solid #AAAACC;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

table.result_table tr.odd td.title {
	font-weight: bold;
}

table.result_table ul.list {
	margin: 5px;
	margin-left: 0px;
	padding-left: 20px;
}

table.result_table ul.list li {
	margin-left: 0px;
	padding-left: 0px;
}

table.result_table ul.list li small {
	font-size: 75%;
	color: #707070;
}

table.result_table ul.list li small a {
	color: #7070C0;
}

/* Error Dialog Box */
table.error {
	width: 500px;
	border: 1px solid #AA0000;
	background-color: #FFF0F0;
}

table.error th {
	background-color: #AA0000;
	border: 0px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

table.error th.img {
	vertical-align: middle;
	text-align: center;
}

table.error td {
	border: 0px;
	background-color: #FFF0F0;
	padding: 2px;
	text-align: left;
	vertical-align: top;
}

/* Popup Window */
div.popup h3.subtitle {
	text-align: center;
	margin: 0px;
	margin-bottom: 15px;
	color: #FFFFFF;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	background: #000088;
	padding: 4px;
	font-weight: normal;
}

span.good {
	color: green;
}

span.bad {
	color: red;
}
